.BuildControls{
    width: 100%;
    background-color: #cf8f2e;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.BuildControls button {
    display: inline;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 150px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BuildControls .OrderButton {
    background-color: green;
    color: white;
}


.BuildControls .OrderButton:hover, .BuildControl .OrderButton:active {
    background-color: #a1da16;
    color: white;
}

.BuildControls .OrderButton:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}